<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Congratulations!</title>
    <link rel = "stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css" />
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
</head>
<body>
    <h1>Congratulations!</h1>
    <p>You guessed the word correctly!</p>
    <img src="https://i.imgur.com/RVIN1TA.png" alt="Celebration">
</body>
</html>
